- page_title _('Releases')
- add_page_startup_graphql_call('releases/all_releases', variables_for_single_releases_page_startup_query)
- add_page_startup_graphql_call('releases/all_releases', variables_for_full_releases_page_startup_query)

#js-releases-page{ data: data_for_releases_page }
