- if current_user
  .block.subscriptions
    .issuable-sidebar-block-content.centered
      %subscriptions{ ":loading" => "issue.isFetching && issue.isFetching.subscriptions",
        ":subscribed" => "issue.subscribed",
        ":id" => "issue.id" }
