- return unless show_delayed_project_removal_setting?(group)

.js-cascading-setting-lock-popovers

.form-group
  .gl-form-checkbox.custom-control.custom-checkbox
    = f.check_box :delayed_project_removal, checked: group.namespace_settings.delayed_project_removal?, disabled: group.namespace_settings.delayed_project_removal_locked?, class: 'custom-control-input'
    = render 'shared/cascading_settings/setting_label', attribute: :delayed_project_removal, group: group, form: f, help_text: s_('GroupSettings|Projects will be permanently deleted after a %{waiting_period}-day delay. This delay can be %{customization_link} in instance settings').html_safe % { waiting_period: ::Gitlab::CurrentSettings.deletion_adjourned_period, customization_link: link_to('customized by an admin', general_admin_application_settings_path) } do
      = s_('GroupSettings|Enable delayed project removal')
    = render 'shared/cascading_settings/enforcement_checkbox', attribute: :delayed_project_removal, group: group, form: f