#
# This list of browsers is a conservative definition, based on
# https://docs.gitlab.com/ee/install/requirements.html#supported-web-browsers
# with the following reasoning:
#
# We should support the latest ESR of Firefox: 78, because it used quite a lot.
# We use Edge/Chrome >= 84 because 83 had an annoying bug which would mean we
# need to polyfill Array.reverse.
# Safari 13 because it is the secondd latest major version of Safari
#
# See also this epic: https://gitlab.com/groups/gitlab-org/-/epics/3957
#
chrome >= 84
edge >= 84
firefox >= 78
safari >= 13
