stages:
  - test
  - depscore

include:
  - template: Dependency-Scanning.gitlab-ci.yml

gemnasium-dependency_scanning:
  artifacts:
    paths:
      - gl-dependency-scanning-report.json
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

run_depscore:
  image: ruby:2.6-alpine3.13
  stage: depscore
  needs: ["gemnasium-dependency_scanning"]
  before_script:
    - echo "Running before_script"
    - gem install httparty
    - ruby -v
  script:
    - ruby -v
    - ls -la
    - ruby ./depscore/main.rb -d gl-dependency-scanning-report.json
  artifacts:
    paths:
      - dep_scores.csv
    reports:
      dependency_scanning: gl-depscore.json
