- add_to_breadcrumbs _('General Settings'), edit_group_path(@group)
- page_title s_('ComplianceFramework|New Compliance Framework')

%h3.page-title= s_('ComplianceFramework|New Compliance Framework')

#js-compliance-frameworks-form{ data: compliance_frameworks_new_form_data }
