.shortcut-mappings {
  max-height: 80vh;

  section {
    width: 33%;
  }

  .shortcut {
    color: $gray-300;
  }

  kbd {
    margin: 0.1rem 0;
    line-height: unset;
    font-size: unset;
  }
}

.documentation {
  padding: 7px;
  font-size: $gl-font-size-large;
}

.card.links-card {
  a {
    color: $blue-600;
  }
}
