-# - breadcrumb_title _('Edit')
- page_title s_('Runners|Runners')
-# - add_to_breadcrumbs _('CI/CD Settings'), group_settings_ci_cd_path(@group)
-# - add_to_breadcrumbs "#{@runner.short_sha}", group_runner_path(@group, @runner)

%h2.page-title
  = s_('Runners|Group Runners')
