- if params[:group_id].present?
  = hidden_field_tag :group_id, params[:group_id]
- if params[:project_id].present?
  = hidden_field_tag :project_id, params[:project_id]
.dropdown.form-group.mb-lg-0.mx-lg-1.col-lg-2.gl-p-0{ data: { testid: "group-filter" } }
  %label.d-block{ for: "dashboard_search_group" }
    = _("Group")
  %input#js-search-group-dropdown{ class: "dropdown-menu-toggle gl-w-full!", value: "Loading...", data: { "initial-group-data": @group.to_json } }
.dropdown.form-group.mb-lg-0.mx-lg-1.col-lg-2.gl-p-0{ data: { testid: "project-filter" } }
  %label.d-block{ for: "dashboard_search_project" }
    = _("Project")
  %input#js-search-project-dropdown{ class: "dropdown-menu-toggle gl-w-full!", value: "Loading...", data: { "initial-project-data": @project.to_json } }
