- return unless Gitlab::CurrentSettings.current_application_settings.enforce_terms?

- company_name = Gitlab.dev_env_or_com? ? 'GitLab' : ''

%p.gl-text-gray-500.gl-mt-5.gl-mb-0
  = html_escape(_("By clicking %{button_text}, I agree that I have read and accepted the %{company_name} %{link_start}Terms of Use and Privacy Policy%{link_end}")) % { button_text: button_text,
    company_name: company_name,
    link_start: "<a href='#{terms_path}' target='_blank' rel='noreferrer noopener'>".html_safe, link_end: '</a>'.html_safe }
