kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: $gray-700;
  vertical-align: middle;
  background-color: $gray-10;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-100 $gray-100 $gray-200;
  border-image: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 $gray-200 inset;
}
