- webhooks_link_url = 'https://slack.com/apps/A0F7XDUAZ-incoming-webhooks'
- webhooks_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: webhooks_link_url }

.info-well
  .well-segment
    %p= s_('SlackIntegration|Sends notifications about project events to Slack channels.')
    = link_to _('How do I set up this service?'), help_page_path('user/project/integrations/slack')
