- top_class = local_assigns.fetch(:class, nil)
- view_model = top_nav_responsive_view_model(project: @project, group: @group)

.top-nav-responsive{ class: top_class }
  .content-wrapper-this-class-is-breaking-tests-lets-rename-it-and-see-if-it-is-needed
    #js-top-nav-responsive{ data: { view_model: view_model.to_json } }
