- page_title _('Iteration cadences')

.js-iteration-cadence-app{ data: { group_full_path: @project.group.full_path,
  full_path: @project.full_path,
  cadences_list_path: project_iteration_cadences_path(@project),
  can_edit_iteration: can?(current_user, :admin_iteration, @project.group).to_s,
  has_scoped_labels_feature: @project.group.licensed_feature_available?(:scoped_labels).to_s,
  labels_fetch_path: group_labels_path(@project.group, format: :json, include_ancestor_groups: true),
  preview_markdown_path: preview_markdown_path(@project.group),
  no_issues_svg_path: image_path('illustrations/issues.svg') } }
