- breadcrumb_title _('Integrations')
- page_title _('Integrations')
- @content_class = 'limit-container-width' unless fluid_layout

%h3= s_('Integrations|Project integration management')

- integrations_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: integrations_help_page_path }
%p= s_('Integrations|As a GitLab administrator, you can set up integrations that all projects inherit and use by default. These integrations will apply to all projects that are not already using custom settings. If custom settings are necessary for a group or project, they can be overridden at that level. Learn more about %{integrations_link_start}project integration management%{link_end}.').html_safe % { integrations_link_start: integrations_link_start, link_end: '</a>'.html_safe }
= render 'shared/integrations/index', integrations: @integrations
