.form-group.row
  .col-sm-2.col-form-label
    = form.label :approver_ids, "Approval rules"
  .col-sm-10
    = render 'shared/issuable/approver_suggestion', form: form, issuable: issuable, presenter: presenter
