- add_to_breadcrumbs s_("SecurityOrchestration|Scan Execution Policy"), edit_project_security_policy_path(@project)
- breadcrumb_title @policy_name
- page_title s_("SecurityOrchestration|Policy editor")
- policy_details = policy_details(@project, @policy, @environment)

#js-policy-builder-app{ data: policy_details }
