- breadcrumb_title _("Scan Policies")

#js-security-policies-list{data: {
  documentation_path: help_page_path('user/project/clusters/protect/container_network_security/quick_start_guide'),
  project: @project,
  select_project_path: assign_project_security_policy_url(@project)
}}
