- breadcrumb_title _("Scan Policies")

#js-security-policies-list{ data: { assigned_policy_project: @assigned_policy_project.to_json,
  documentation_path: help_page_path('user/project/clusters/protect/container_network_security/quick_start_guide'),
  project_path: @project.full_path,
  select_project_path: assign_project_security_policy_url(@project) } }
