.incident-severity,
.incident-management-list,
.alert-management-details {
  .icon-critical {
    color: var(--red-800, $red-800);
  }

  .icon-high {
    color: var(--red-600, $red-600);
  }

  .icon-medium {
    color: var(--orange-400, $orange-400);
  }

  .icon-low {
    color: var(--orange-300, $orange-300);
  }

  .icon-info {
    color: var(--blue-400, $blue-400);
  }

  .icon-unknown {
    color: var(--gray-200, $gray-200);
  }
}
