- if Feature.enabled?(:secure_security_and_compliance_configuration_page_on_ce)
    - breadcrumb_title _("Security Configuration")
    - page_title _("Security Configuration")

    #js-security-configuration Hello, World!
