.escalation-policy-modal {
  width: 640px;
}

.rule-control {
  width: 240px;
}

.rule-elapsed-minutes {
  width: 56px;

  /* stylelint-disable property-no-vendor-prefix */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
  /* stylelint-enable property-no-vendor-prefix */
}

.rule-close-icon {
  right: 1rem;
}
