- page_title s_('SeatUsage|Seat usage')
- add_to_breadcrumbs _('Billing'), group_billings_path(@group)

%h2.page-title
  = s_('SeatUsage|Users occupying seats in %{group_name}') % { group_name: @group.name}
