.js-file-fork-suggestion-section.file-fork-suggestion.hidden
  %span.file-fork-suggestion-note
    You can't
    %span.js-file-fork-suggestion-section-action
      edit
    files directly in this project. Fork this project to make your changes and submit a merge request.
  = link_to 'Fork', nil, method: :post, class: 'js-fork-suggestion-button gl-button btn btn-grouped btn-confirm-secondary'
  %button.js-cancel-fork-suggestion-button.gl-button.btn.btn-grouped{ type: 'button' }
    Cancel
