- return unless @project.forked? && can?(current_user, :remove_fork_project, @project)

.sub-section
  %h4.danger-title= _('Remove fork relationship')
  %p= remove_fork_project_description_message(@project)

  %p
    %strong= _('Once removed, the fork relationship cannot be restored. This project will no longer be able to receive or send merge requests to the source project or other forks.')
    = link_to _('Learn more.'), help_page_path('user/project/settings/index', anchor: 'removing-a-fork-relationship'), target: '_blank', rel: 'noopener noreferrer'
  #js-project-remove-fork-button{ data: { form_path: remove_fork_project_path(project), confirm_phrase: project.path } }
