.context-header
  = link_to context_menu.link, title: context_menu.item_name do
    .avatar-container.rect-avatar.s40.project-avatar
      = source_icon(context_menu.container, alt: context_menu.item_name, class: 'avatar s40 avatar-tile', width: 40, height: 40)
    .sidebar-context-title
      = context_menu.item_name
