- return unless project_nav_tab? :requirements

= nav_link(path: 'requirements#index') do
  = link_to project_requirements_management_requirements_path(project), class: 'qa-project-requirements-link' do
    .nav-icon-container
      = sprite_icon('requirements')
    %span.nav-item-name
      = _('Requirements')