%aside.nav-sidebar{ class: ('sidebar-collapsed-desktop' if collapsed_sidebar?), **sidebar_tracking_attributes_by_object(sidebar.container), 'aria-label': sidebar.aria_label }
  .nav-sidebar-inner-scroll
    = render partial: 'shared/nav/scope_menu', object: sidebar.scope_menu
    %ul.sidebar-top-level-items.qa-project-sidebar
      = render partial: 'shared/nav/sidebar_menu', collection: sidebar.renderable_menus

      - if sidebar.hidden_menu
        = render partial: 'shared/nav/sidebar_hidden_menu_item', collection: sidebar.hidden_menu.renderable_items
    = render 'shared/sidebar_toggle_button'
