- add_to_breadcrumbs _("Iterations cadences"), group_cadences_path(@group)
- breadcrumb_title params[:id]
- page_title _("Edit iteration cadence")

.js-iteration-cadence-form{ data: { group_full_path: @group.full_path,
  can_edit: can?(current_user, :admin_iteration_cadence, @group).to_s,
  cadence_id: params[:id],
  cadences_list_path: group_cadences_path(@group) } }
