= email_default_heading(say_hi(@member.user))

%p
  - if @member.expires?
    = _('Your %{group} membership will now expire in %{days} days.') % { group: @member_source.human_name, days: (@member.expires_at - Date.today).to_i }
  - else
    = _('Your %{group} membership expiry has been removed.') % { group: @member_source.human_name }
%p
  = _('For more information, review your group membership, or contact your group administrator.') 
