= email_default_heading(_('Hello %{name},') % { name: @name })
%p
  = _('Your account has been deactivated. If you log back in, your account will reactivate as a fully active account.')
%p
  = _('Please contact your GitLab administrator if you think this is an error.')
