- if @project
  = render 'projects/services/prometheus/configuration_banner', project: @project, service: @service

%h4.gl-mb-3
  = s_('PrometheusService|Manual configuration')
%p
  = s_('PrometheusService|Select the Active checkbox to override the Auto configuration with custom settings. To use the Auto configuration settings, deselect the checkbox.')
