- page_title _("DevOps Adoption")

%h2
  = _('DevOps Adoption')
.js-devops-adoption{ data: { empty_state_svg_path: image_path('illustrations/monitoring/getting_started.svg'), group: { id: @group.id, name: @group.full_name } } }
