.card.border-warning
  .card-header.bg-warning.text-white
    = s_('AdminUsers|Block this user')
  .card-body
    = render partial: 'admin/users/user_block_effects'
    %br
    %button.btn.gl-button.btn-warning.js-confirm-modal-button{ data: block_user_modal_data(user) }
      = s_('AdminUsers|Block user')
