- page_title _("Users")

%ul.nav-links.nav-tabs.nav{ role: 'tablist' }
  %li.nav-item{ role: 'presentation' }
    %a.nav-link{ href: admin_users_path, class: active_when(params[:tab] != 'cohorts'), role: 'tab' }
      = s_('AdminUsers|Users')
  %li.nav-item{ role: 'presentation' }
    %a.nav-link{ href: admin_users_path(tab: 'cohorts'), class: active_when(params[:tab] == 'cohorts'), role: 'tab' }
      = s_('AdminUsers|Cohorts')

.tab-content
  .tab-pane{ class: 'active' }
    - if params[:tab] == 'cohorts'
      = render 'cohorts'
    - else
      = render 'users'
