- return unless use_startup_css?

= javascript_tag nonce: true do
  :plain
    document.querySelectorAll('link[media="print"]').forEach(linkTag => {
      linkTag.setAttribute('data-startupcss', 'loading');
      const startupLinkLoadedEvent = new CustomEvent('CSSStartupLinkLoaded');
      const onLoad = () => { linkTag.media='all'; linkTag.setAttribute('data-startupcss', 'loaded'); document.dispatchEvent(startupLinkLoadedEvent); };
      linkTag.addEventListener('load',onLoad,{once: true});
      window.addEventListener('DOMContentLoaded',() => { linkTag.dispatchEvent(new Event('load')) },{once: true});
    })
