= javascript_tag do
  :plain
    document.querySelectorAll('link[data-startup-priority]').forEach( linkTag => {
      linkTag.setAttribute('data-startupcss', 'loading');
      const startupLinkLoadedEvent = new CustomEvent('CSSStartupLinkLoaded');

      linkTag.addEventListener('load',function(){
        document.querySelectorAll('link[media="print"]').forEach(x => {
          x.media = 'all';
          x.setAttribute('data-startupcss', 'loaded');
        })
        document.dispatchEvent(startupLinkLoadedEvent)
      },{once: true});

    })
