- page_title    _("User Settings")
- header_title  _("User Settings"), profile_path unless header_title
- sidebar       "dashboard"
- nav           "profile"
- @left_sidebar = true

= content_for :before_content do
  = render "shared/search_settings"

= render template: "layouts/application"
