= content_for :footer do
  %tr.footer
    %td{ style: "padding: 24px 0" }
      %img{ alt: "GitLab", height: "33", width: "90", src: image_url('mailers/gitlab_footer_logo.gif') }
      %p{ style: "color: #949ba5; max-width: 640px; margin: 0 auto; text-align: center; font-size: 12px;" }
        = html_escape(_("GitLab is a complete DevOps platform, delivered as a single application, fundamentally changing the way%{br_tag}Development, Security, and Ops teams collaborate")) % { br_tag: '<br/>'.html_safe }

= render 'layouts/mailer'
