= saml_link_for_provider _('Verify SAML Configuration'), saml_provider, redirect: ::OmniAuth::Strategies::GroupSaml::VERIFY_SAML_RESPONSE, html_class: "gl-button btn btn-default #{ 'gl-display-none' unless saml_provider.persisted? }"
%button.gl-button.btn.btn-default{ type: :button, disabled: true, style: 'display: none;' }
  =_('Verify SAML Configuration')
